**__pycache__**
**build**
**egg-info**

data/

# Explicitly ignore Waymo raw data
data/waymo/raw_data/

**log**

*.ipynb_checkpoints/
*.vscode/
*.idea/
*.pyc
venv/
*.so
*.pth
*.pkl
*.zip
*.bin
*.pdf
*version.py
*.npy
*.DS_Store
