**__pycache__**
**build**
**egg-info**

data/

**log**

*.ipynb_checkpoints/
*.vscode/
*.idea/
*.pyc
venv/
*.so
*.pth
*.pkl
*.zip
*.bin
*.pdf
*version.py
*.npy
*.DS_Store
tmp*

BEVFUSION
BevCalib
dataset_track
origin
autogen
vis_all
visual_combine
dataset_track_train_sh_4d_road_5_20250614_lx
output
20250531070550
20250531070632
20250531070738
20250531071315
20250531071815
20250531072254
bevformer-roadside
